<a href="https://colab.research.google.com/github/ganeshghadge2772/Hotel_Booking/blob/main/Hotel_Booking_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!
# This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data.
## Explore and analyze the data to discover important factors that govern the bookings.

In [7]:
# import required modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Path of the raw dataset of Hotel Booking

data_path = '/content/drive/MyDrive/Module 1/Hotel Bookings.csv'

In [9]:
# Loading the dataset

hotel_booking_raw_df = pd.read_csv(data_path)
hotel_booking_raw_df

               hotel  is_canceled  ...  reservation_status  reservation_status_date
0       Resort Hotel            0  ...           Check-Out               2015-07-01
1       Resort Hotel            0  ...           Check-Out               2015-07-01
2       Resort Hotel            0  ...           Check-Out               2015-07-02
3       Resort Hotel            0  ...           Check-Out               2015-07-02
4       Resort Hotel            0  ...           Check-Out               2015-07-03
...              ...          ...  ...                 ...                      ...
119385    City Hotel            0  ...           Check-Out               2017-09-06
119386    City Hotel            0  ...           Check-Out               2017-09-07
119387    City Hotel            0  ...           Check-Out               2017-09-07
119388    City Hotel            0  ...           Check-Out               2017-09-07
119389    City Hotel            0  ...           Check-Out               2017-09-07

[119390 rows x 32 columns]

In [10]:
# creating a copy of the dataframe

df = hotel_booking_raw_df.copy()

# Exploring the dataframe

df.head(10)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03
5  Resort Hotel            0  ...           Check-Out               2015-07-03
6  Resort Hotel            0  ...           Check-Out               2015-07-03
7  Resort Hotel            0  ...           Check-Out               2015-07-03
8  Resort Hotel            1  ...            Canceled               2015-05-06
9  Resort Hotel            1  ...            Canceled               2015-04-22

[10 rows x 32 columns]

In [11]:
df.tail(10)

             hotel  is_canceled  ...  reservation_status  reservation_status_date
119380  City Hotel            0  ...           Check-Out               2017-09-04
119381  City Hotel            0  ...           Check-Out               2017-09-05
119382  City Hotel            0  ...           Check-Out               2017-09-05
119383  City Hotel            0  ...           Check-Out               2017-09-06
119384  City Hotel            0  ...           Check-Out               2017-09-06
119385  City Hotel            0  ...           Check-Out               2017-09-06
119386  City Hotel            0  ...           Check-Out               2017-09-07
119387  City Hotel            0  ...           Check-Out               2017-09-07
119388  City Hotel            0  ...           Check-Out               2017-09-07
119389  City Hotel            0  ...           Check-Out               2017-09-07

[10 rows x 32 columns]

In [12]:
df.shape

(119390, 32)